.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #5E565A;
}
.title_p{
    text-align: center;
    padding-bottom: 20px;
    color: #5E565A;
}
.story{
    text-align: center;
    padding-bottom: 15px;
    color: #5E565A;
}
.story_p{
    text-align: center;
    color: #5E565A
}