.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
.title_p{
    text-align: center;
    padding-bottom: 20px;
}
.story{
    text-align: center;
    padding-bottom: 15px;
}
.story_p{
    text-align: center;
}