.title{
    text-align: center !important;
    padding-top: 20px;
    width: 100%;
    color: #5E565A;
}
.content{
    margin-top: 70px;
}
.myButton{
    margin-right: 5px;
    background-color: #5E565A;
}
.myButton:active, .myButton:hover{
    background-color: orange;
}