.header{
    width: 100%;
    max-width:initial;
}

.background{
    background-color:#5E565A;
}
.textColor{
    color: #EFECCA;
}
.nav{
    display: flex;
}

@media only screen and (max-width:992px) {
    .nav {
        flex-direction: column !important;
      }
      .textColor{
          color: #5E565A !important;
      }
}